$aspect-ratio-percentage: 62.66%;

.cfas {
  margin-bottom: 40px;
  background-color: #212124;
  &.cfas--slideshow-has-loaded .flexslider {
    opacity: 1;
  }
  .flexslider {
    border: none;
    border-radius: 0;
    margin: 0;
    background-color: transparent;
    opacity: 0;
    transition: opacity 1s ease-in;
    .flex-direction-nav a {
      height: 50px;
      opacity: 0.7 !important;
      &:before {
        margin-bottom: 10px;
        line-height: 0.95em;
        text-shadow: 0 0 7px rgba(255, 255, 255, 0.4);
      }
    }
    .flex-prev {
      left: 10px !important;
      &:before {
        transform: translate(3px, 3px);
      }
    }
    .flex-next {
      right: 10px !important;
      &:before {
        transform: translate(-3px, 3px);
      }
    }
  }
  .cfas--slide {
    position: relative;
  }
  .cfas--faux-image {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    &.cfas--faux-image--contain {
      background-size: contain;
    }
  }
}

.cke_editable .cfas {
  position: relative;
  height: 200px;
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 200px;
    height: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../plugins/flickrAlbumSlideshow/icons/flickr.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }
}