.cfas {
  margin-bottom: 40px;
  .ug-slider-control:focus {
    outline: rgb(59, 153, 252) auto 5px;
  }
}

.cfas--slideshow {
  margin: auto;
}

.cke_editable {
  .cfas {
    position: relative;
    height: 200px;
    background-color: #212124;
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      max-width: 200px;
      height: 50%;
      transform: translate(-50%, -50%);
      background-image: url(../images/flickr-logo-white.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      content: "";
    }
  }
}

.cke_dialog .cfas--example-url {
  color: #808080;
}
